<!DOCTYPE html>
<html>
    <title>
       {{title}}
    </title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
        {{>header}}<br>

<div  class="w3-card w3-padding w3-large w3-center"  style="margin: 20px;"> {{content}} </div>
   
    <br>
    {{>footer}}
    </body>
</html>