<!DOCTYPE html>
<html>
       
       <title>
       {{title}}
     </title>
    
        <body>
        {{>header}}<br>
    {{content}}<br>
    {{>footer}}
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p id="mes1">

    </p>
    <p id="mes2"></p>
     <script src="js/app.js"></script>
    </body>
</html>